/* D4_T6 ---> */
.roundTableContainer {
  margin-top: 2rem;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}/*
<--- */

.roundTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.roundTable th, .roundTable td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.userWin {
  color: #2c662d;
  font-weight: bold;
}

.aiWin {
  color: #9c2c2c;
  font-weight: bold;
}

.aiWin a, .userWin a {
  color: inherit;
  text-decoration: underline;
}

td em {
  color: #777;
  font-style: italic;
  font-size: 0.9em;
}